.App {
  text-align: center;
}

.episodeLink{
  display: flex;
  justify-content: space-between;
  width: 28rem;
  font-size: 1.25rem;
  padding: 10px;
  border-radius: 0.4rem;
  border: 3px solid #151515;
  background-color: #fdfdfd;
  color: #2d2d2d;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
.season{
  width: 9rem;
  font-size: 1.25rem;
  padding: 10px;
  border-radius: 0.4rem;
  border: 3px solid #7f878d;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #d0dce8;
  color: #1c1b1b;
}

.loader {
  height: 5rem;
  width: 5rem;
  position: fixed ;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-color: rgba(182, 182, 182, 0.11);

  border-radius: 50%;
  border: 5px dashed #0c096d;
  animation: rotate 2s infinite linear;
}


@keyframes rotate {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (max-width: 767px) {
  .episodeLink{
    width: 14rem;
    font-size: 0.7rem;
    padding: 6px;

  }
  .season{
    width: 5rem;
    font-size: 0.7rem;
    padding: 6px;
  }
}